body {
    background: rgb(248, 255, 211);
    margin-left: 100px;
    margin-right: 100px;
}

footer{
    margin-bottom: 30px;
}

h1{
    color: red;
    font-family: fantasy;
}

h2{
    color: grey;
    font-family: fantasy;
}

p{
    font-size: 20px;
}

header{
    margin-top: 50px;
}

.img_padrão{
    margin-bottom: 25px;
}